.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding:50px 50px;
}
.price{
    color:#FF136F;
}
.buy-now-button{
    background-image:linear-gradient(to bottom, #FF136F 0%, #FF136F 100% ) ;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}
.catA{
    background-image: linear-gradient(to left, tomato,red );
}
.caro{
    background-color: rebeccapurple;
}
.cat1, .cat2,.cat3{
    padding:10px 30px;
    border-radius:10px;
}
.cat1{
    background-image: linear-gradient(to left, red,orange);
}
.cat2{
    background-image: linear-gradient(to left, rgb(88, 165, 196),rgb(49, 145, 209));
}
.cat3{
    background-image: linear-gradient(to left, rgb(202, 50, 50),rgb(221, 110, 58));
}
.categories h1{
    color:white;
}
.categories img{
    width:120px;
}